.ContactLable {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
    
}
.ContactForm{
    border: 2px solid tomato;
    width: 340px;
    height: 200px;
    text-align: center;
    padding-top: 30px;
    
    
    
}
.btnForm{
    margin-top: 40px;
    height: 40px;
    
}
.btnForm:hover {
    background-color: burlywood;
}
.formDiv{
    margin-bottom: 20px;
}
/* .formInput{
    width: 200px;
} */